@use "../custom" as *;

.display-2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    
    span {
        color: $primary;
    }

    &--description {
        margin: 2rem 0rem;
        font-family: 'Poppins', sans-serif;
        color: $gray-600;
        font-size: 1.5rem;
    }

}

.display-3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 800 !important;

    &--title {
        font-size: 1.875rem;
        color: $primary;
    }
}

.heading-line {
    background-color: $primary;
    width: 13rem;
    height: 0.2rem;
    margin: 0 auto;
}

.border-right {
    border-right: 0.1rem solid $gray-500;
    height: 100%;
}